<% flash.now[:errors].try(:each) do |error| %>
  <%= error %>
<% end %>

<form action="/cats" method="POST">
  <input type="hidden"
         name="authenticity_token"
         value="I'm a forger hahaha!">
         
  <label>Name
    <input type="text" name="cat[name]" value="<%= @cat.name %>">
  </label>

  <label>Owner
    <input type="text" name="cat[owner]" value="<%= @cat.owner %>">
  </label>

  <input type="submit">
</form>
