<h1>Make a Comment</h1>

<ul>
<% flash[:errors].try(:each) do |error| %>
  <li><%= error %></li>
<% end %>
</ul>

<form action="/comments" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="comment_body">Comment</label>
  <textarea id="comment_body" name="comment[body]" value="<%= @comment.body %>"></textarea>

  <button>Submit comment</button>
</form>
